*{
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

body {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    background-image: url(../img/новый\ год5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.celebration_img-wrap {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
}

.celebration_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.celebration_content {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    color: white;
    background-color: rgb(133, 247, 139);
    border-radius: 20px;
    border: 2px solid white;
    padding: 20px 50px;
}

.btn-block {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.btn {   
 font-family: Arial, Helvetica, sans-serif; 
  text-decoration: none; 
  color: white; 
  background-color: rgb(137, 247, 133);
  padding: 10px 20px;
  border-radius: 10px;
}

.celebration_img:hover {
    transform: rotate(45deg);
}

.celebration_title{
    animation: a 3s infinite;
    font-family: Arial, Helvetica, sans-serif; 
}

@keyframes a {
0% {
    transform: translateX(0);
    color: red;
    } 
    33% {
    transform: translateX(20px);  
    color: green;
    }
    66% {
    transform: translateX(20px); 
    color: green;
    }
    100%{
        transform: translateX(0);
        color: red;
    }

}
